.header__list {
  list-style: none;
  display: flex;
}

.header__item {
  margin-top: 50px;
}

.header__logo {
  margin-left: 100px;
}

.header__link {
  text-decoration: none;
  color: aliceblue;
  margin-left: 100px;
}

.header__link:hover {
  border-bottom: 2px solid red;
}

.header__btn {
  width: 150px;
  height: 40px;
  background-color: #014e56;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 600px;
}
